<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ./head.ejs %>
</head>
<body>

<% include ./nav.ejs %>
<div class="container">

    <h1 class="page-header"><%= title %></h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>번호</th>
                <th>선거명</th>
                <th>진행상황</th>

            </tr>
            </thead>
            <tbody>
            <%
            for(var i = 0; i < rows.length ;i++)
            {
            %>
                <tr>
                    <td><%= rows[i].vote_code %></td>
                    <td>
                        <button type="button" class="btn btn-default" data-container="body" data-toggle="popover"
                                data-placement="top"
                                data-html="true"
                                data-content="<%= rows[i].vote_starttime %> <br/> ~ <%= rows[i].vote_endtime %>">
                            <%= rows[i].vote_name %>
                        </button>


                    </td>
                    <% if ( rows[i].vote_state === '마감'){ %>
                        <td>
                            <a href="/result?voteCode=<%= rows[i].vote_code %>&voteName=<%= rows[i].vote_name %>"><%= rows[i].vote_state %></a>
                        </td>
                    <% }else { %>
                        <td><%= rows[i].vote_state %></td>
                    <%
                    } %>
                    <% if(sessionUser === 'admin'){ %>
                        <td>
                            <% if (rows[i].vote_state === '시작전') { %>
                                <form onsubmit="return confirm('정말 삭제 하시겠습니까?');" action="/vote/delete" method="post">
                                    <input type="hidden" name="voteCode" value="<%= rows[i].vote_code %>">
                                    <button class="btn btn-default btn-sm">삭제</button>
                                </form>
                            <% } %>
                        </td>
                    <td>
                        <% if (rows[i].vote_state === '시작전') { %>
                        <form onsubmit="return confirm('문자를 발송 하시겠습니까?');" action="/vote/send" method="post">
                            <input type="hidden" name="vote_auth_code" value="<%=rows[i].authorization_code%>">
                            <button class="btn btn-default btn-sm">문자발송</button>
                        </form>
                        <% } %>
                    </td>
                    <% } %>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>
</body>
</html>