<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ./head.ejs %>
</head>
<body>

<% include ./nav.ejs %>
<div class="container">

    <h1 class="page-header">진행중인 선거</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>번호</th>
                <th>선거명</th>
                <th>시작시간</th>
                <th>마감시간</th>
                <th>진행상황</th>
            </tr>
            </thead>
            <tbody>
            <%
            for(var i = 0; i < rows.length ;i++)
            {
            %>
              <tr>
                <td><%= rows[i].vote_code %></td>
                <td>
                  <a href="/vote?voteCode=<%= rows[i].vote_code %>&voteName=<%= rows[i].vote_name %>"><%= rows[i].vote_name %></a>
                </td>
                <td><%= rows[i].vote_starttime %></td>
                <td><%= rows[i].vote_endtime %></td>
                <td><%= rows[i].vote_state %></td>
              </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
